body{
    
    margin:0px;
    padding:0px;
     background-color: rgb(237, 172, 243);
    /* color: blanchedalmond;  */
    text-align:center;
   
}
h1{
    font-size: 45px;
}
input{
    width:75px;
    height:50px;
    font-size: 35px;
     border-radius: 10px; 
    margin: 10px;

}
